.pick_title_box {
    display: flex;
    align-items: center;
    padding: $layout-large-padding $layout-base-padding;
    background-color: $gray-0;

    .pick_title_btn_box {
        font-size: 0;
    }
    .btn_pick {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: $layout-base-padding;
        font-size: 10px;

    }
}
.pick_items_wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $gray-0;

    .title07 {
        margin: 0 $layout-base-padding $layout-base-padding;
    }
    .emph_color_main {
        font-size: $mid-font-size;
        font-weight: bold;
    }
    .items_wrap {
        padding-bottom: $layout-large-padding;
    }
    .item_box {
        position: relative;
    }
    .store_box {

        .pick_num_item {
            flex-shrink: 0;
            min-width: 38px;
            margin-left: $layout-small-padding;
            font-size: $base-font-size;
            color: $main-font-color;
            text-align: right;
        }
        .icon {
            height: 20px;
            vertical-align: middle;
        }
    }
    .pick_nodata {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }
    .pick_nodata_img_box {
        margin: 0 $layout-base-padding*2;
        font-size: 0;
        text-align: center;
    }
    .pick_nodata_img {
        width: 100%;
        max-width: 430px;
        font-size: 10px;
    }
    .pick_nodata_login_box {
        width: 100%;
        margin-top: $layout-large-padding;
    }
    .pick_btn_login {
        margin-top: $layout-base-padding;
        max-width: 200px;
    }
    .pick_nodata_login_txt {
        font-size: $base-font-size;
        color: $light-font-color;
    }
}
.pick_inp_check_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $base-border-radius;
    overflow: hidden;

    .lab_check {
        display: block;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            border: 1px solid #fff;
            border-radius: 10px;
            position: absolute;
            top: 4px;
            left: 4px;
            background-image: url(/images/icon-checkbox-circle.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .inp_check:checked + .lab_check {
        background-color: rgba($main-color,0.2);

        &:before {
            background-image: url(/images/icon-checkbox-circle-checked.svg);
        }
    }
}
