.resister_pet_form_wrap {
    background-color: $gray-0;
}

.pet_profile01 {
    padding: $layout-base-padding*2 $layout-base-padding 0;
    border-bottom: $light-border;

    .profile_img {
        width: 160px;
        height: 160px;
        position: relative;
        margin: 0 auto;

        .img_box {
            @include circle(160px); 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            overflow: hidden;
        }
    }
    .inp_profile_box {
        width: 100%;
        position: absolute;
        top: 38%;
        left: 0;
        text-align: center;

        .lab {
            display: block;
            margin-bottom: $layout-small-padding;
            font-size: $small-font-size;
            color: $base-font-color;
            
            .icon {
                width: 1.2em;
                vertical-align: middle;
            }
        }
        &.inp_has_profile {
            width: auto;
            top: auto;
            bottom: 0;
            left: auto;
            right: 0;
        }
    }
    .profile_img.has_img {
        .img_box:after {
            content: '';
            display: block;
            @include circle(100%); 
            // background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: 0;
        }
        .lab {
            color: $gray-0;
        }
    }
    .btn_change_img {
        width: 44px;
        height: 44px;

        .img {
            width: 100%;
        }
    }
}
.pet_profile02 {
    padding: 0 $layout-base-padding;
    border-bottom: $light-border;

    .btn_more_box {
        text-align: right;
        margin-top: 4px;
    }
    .link_more {
        color: $main-font-color;
        font-size: $base-font-size;
    }
}
.breed_container {
    margin-top: $layout-base-padding;
    padding-bottom: $layout-base-padding;

    .breed_item {
        position: relative;
        overflow: hidden;
        border-radius: $base-border-radius;
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);

        &.selected:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            border-radius: $base-border-radius;
            border: $main-border;
        }
    }
    .txt_box {
        padding: $layout-small-padding;
    }
    .breed_ko {
        font-size: $base-font-size;
        color: $bold-font-color;
        margin-bottom: $layout-small-padding;
        @include one-line-ellipsis;
    }
    .breed_en {
        font-size: $small-font-size;
        color: $light-font-color;
        margin-bottom: $layout-small-padding;
        @include one-line-ellipsis;
    }
}
.allergy_container {
    display: none;

    &.show {
        display: block;
    }
}
.btn_trash {
    width: 24px;
    height: 24px;
}
.submit_box {
    padding: 0 $layout-base-padding $layout-large-padding;

    .btn_box {
        align-items: center;
    }
}
.main_search_breed {
    max-height: 100vh;
    // overflow: hidden;
    .sect_filter_cate {
        flex-shrink: 0;
    }
}
.search_breed_panel_container {
    margin-top: $layout-base-padding;
    height: calc(100vh - 189px);
    box-sizing: border-box;
    padding: $layout-base-padding;
    background-color: $gray-0;
}
.search_bread_panel {
    display: none;
    height: 100%;

    &.show {
        display: block;
    }
}
.search_breed_list {
    height: 100%;
    border: $light-border;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-4;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: $gray-1;
    }
    
}
.search_breed_btn_box {
    flex-shrink: 0;
    padding: $layout-base-padding;
    background-color: $gray-0;
}