.info_access_wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .info_access_container {
        flex: 1;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
    }
    .info_access_title_box {
        display: flex;
        align-items: flex-start;
        margin: $layout-base-padding $layout-base-padding 0;
        padding: $layout-base-padding $layout-small-padding;
        border-bottom: $light-border;
        word-break: keep-all;

        .title08 {
            margin-bottom: $layout-small-padding;
        }
    }
    .logo_box {
        flex-shrink: 0;
        width: 56px;
        margin-right: $layout-base-padding;
        font-size: 0;

        .img {
            width: 100%;
            font-size: 10px;
        }
    }
    .info_access_box {
        margin: $layout-base-padding;

        .title06 {
            font-weight: bold;
        }
    }
    .info_access_icon_box {
        display: flex;
        align-items: center;
        margin-top: $layout-base-padding;

        .icon_box {
            width: 48px;
            margin-right: $layout-small-padding;
            font-size: 0;

            .img {
                width: 100%;
                font-size: 10px;
            }
        }
    }
    .tit {
        font-size: $base-font-size;
        color: $bold-font-color;
    }
    .sub {
        margin-top: 6px;
        font-size: $small-font-size;
        color: $base-font-color;
    }
    .paragraph02 {
        margin: 0 $layout-base-padding;
        word-break: keep-all;
    }
    .txt_box02 {
        margin: $layout-base-padding $layout-base-padding 0;
        padding: $layout-base-padding 0;
        border-top: $light-border;
    }
    .btn_box {
        padding: $layout-base-padding;
        margin-top: auto;
        // box-shadow: 0 0 4px rgba(0,0,0,0.1);
    }
}