.mail_complete_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray-0;
    
    .img_motion_box {
        width: 140px;
        margin: 0 auto;

        .img {
            width: 100%;
        }
    }
    .mail_complete_txt01 {
        margin-top: $layout-large-padding;
        text-align: center;
        font-size: 20px;
        line-height: $narrow-line-height;
        font-weight: 800;

        .emph {
            color: #8054ea;
        }
    }
    .mail_complete_txt02 {
        margin-top: 12px;
        text-align: center;
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: $base-font-color;
    }
    .btn_box {
        margin-top: 60px;
        justify-content: center;
    }
    .btn_mail_success {
        width: 90px;
        height: 40px;
        font-size: $large-font-size;
        line-height: 40px;
    }
}